logging:
  level:
    com.baiyi.cratos : INFO
    # swagger 警告日志忽略
    io.swagger.models.parameters.AbstractSerializableParameter: ERROR
    io.fabric8.kubernetes.client.utils.HttpClientUtils: ERROR
    org.springframework: WARN
    HuaweiCloud-SDK-Access: ERROR
    java.util.concurrent.ExecutionException: OFF
    com.aliyun.sdk.gateway.pop.exception.PopClientException: OFF
    com.azure.core.http.netty.implementation: OFF

# 关闭视图层脱敏
#cratos:
#  sensitive:
#    mask:
#      enabled: off

cratos:
  language: en-us
  auth:
    enabled: on
    provider: LDAP
  rbac:
    auto-configuration:
      enabled: off
    import-user:
      default-roles:
        - BASE
        - DEV
  tenant: PP

springdoc:
  swagger-ui:
    enabled: on

spring:
  config:
    activate:
      on-profile:
        - prod
  datasource:
    url: jdbc:mysql://172.19.1.147:3306/cratos-prod?useUnicode=true&characterEncoding=utf8&autoReconnect=true&failOverReadOnly=false&useInformationSchema=true&tinyInt1isBit=true&nullCatalogMeansCurrent=true&serverTimezone=Asia/Shanghai&allowMultiQueries=true
    username: cratos
    password: ENC(nM5dGT70+lk67XzXtjXFyq8g/yQSP4KB)
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      test-while-idle: on
      validation-query-timeout: 1000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      max-evictable-idle-time-millis: 1800000
      keep-alive:
      # 获取连接时的最大等待时间
      max-wait: 1000
      validation-query: 'SELECT 1'
  data:
    redis:
      host: r-d7obmf3lmgs0hpph5n.redis.eu-west-1.rds.aliyuncs.com
      port: 6379
      password: ENC(BVoGo8e0BvGmAW+LXzW1+ErFLXtWlavyAOzpLcDhLeUYGjD+DVdEVzSnkQacurQeCWPbqGmSWeU=)
      jedis:
        pool:
          max-wait: 10000
          max-idle: 20
          max-active: 100
          min-idle: 5