<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.AccountEntityMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.AccountEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="entity_type" jdbcType="VARCHAR" property="entityType" />
    <result column="registered_name" jdbcType="VARCHAR" property="registeredName" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="registration_no" jdbcType="VARCHAR" property="registrationNo" />
    <result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
    <result column="contact_email" jdbcType="VARCHAR" property="contactEmail" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
</mapper>