<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.AcmeCertificateMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.AcmeCertificate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="domain_id" jdbcType="INTEGER" property="domainId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="domains" jdbcType="VARCHAR" property="domains" />
    <result column="not_before" jdbcType="TIMESTAMP" property="notBefore" />
    <result column="not_after" jdbcType="TIMESTAMP" property="notAfter" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="issuer" jdbcType="VARCHAR" property="issuer" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="certificate" jdbcType="LONGVARCHAR" property="certificate" />
    <result column="certificate_chain" jdbcType="LONGVARCHAR" property="certificateChain" />
    <result column="private_key" jdbcType="LONGVARCHAR" property="privateKey" />
  </resultMap>
</mapper>