<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.ApiScanResultMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.ApiScanResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="deployment_name" jdbcType="VARCHAR" property="deploymentName" />
    <result column="pod_ip" jdbcType="VARCHAR" property="podIp" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="status_code" jdbcType="INTEGER" property="statusCode" />
    <result column="resp_size" jdbcType="INTEGER" property="respSize" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="severity" jdbcType="VARCHAR" property="severity" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="scan_batch" jdbcType="VARCHAR" property="scanBatch" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="resp" jdbcType="LONGVARCHAR" property="resp" />
  </resultMap>
</mapper>