<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.BusinessTagMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.BusinessTag">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="business_type" jdbcType="VARCHAR" property="businessType"/>
        <result column="business_id" jdbcType="INTEGER" property="businessId"/>
        <result column="tag_id" jdbcType="INTEGER" property="tagId"/>
        <result column="tag_value" jdbcType="VARCHAR" property="tagValue"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="queryByTagIds" resultType="int">
        select business_id from business_tag where
        business_type = #{businessType}
        and tag_id in (
        <foreach open="(" item="tagId" separator="," close=")" collection="tagIds">
            #{tagId}
        </foreach>
        )
    </select>

    <select id="queryByValue" parameterType="com.baiyi.cratos.domain.param.http.tag.BusinessTagParam$QueryByTag"
            resultType="java.lang.String">
        select distinct tag_value from business_tag
        <where>
            tag_id = #{tagId}
            <if test="queryTagValue != null and queryTagValue != ''">
                and tag_value like "%" #{queryTagValue} "%"
                order by replace( tag_value, #{queryTagValue}, '' )
            </if>
        </where>
    </select>

    <select id="queryTagIdByBusinessType"
            parameterType="com.baiyi.cratos.domain.param.http.business.BusinessParam$QueryByBusinessType"
            resultType="java.lang.Integer">
        select distinct tag_id
        from business_tag
        where business_type = #{businessType}
    </select>

    <select id="queryBusinessIdByTag" parameterType="com.baiyi.cratos.domain.param.http.tag.BusinessTagParam$QueryByTag"
            resultType="java.lang.Integer">
        select business_id from business_tag
        where tag_id = #{tagId} and business_type = #{businessType}
        <if test="tagValue != null and tagValue != ''">
            and tag_value = #{tagValue}
        </if>
    </select>

    <select id="queryPageByParam"
            parameterType="com.baiyi.cratos.domain.param.http.tag.BusinessTagParam$BusinessTagPageQuery"
            resultType="java.lang.String">
        select distinct tag_value from business_tag
        where tag_id = #{tagGroupId} and tag_value != ''
        <if test="queryName != null and queryName != ''">
            and tag_value like "%" #{queryName} "%"
            order by replace(name, #{queryName}, '')
        </if>
    </select>

</mapper>