<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.ChannelBusinessNodeMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.ChannelBusinessNode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="channel_business_id" jdbcType="INTEGER" property="channelBusinessId" />
    <result column="channel_node_id" jdbcType="INTEGER" property="channelNodeId" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
  </resultMap>
</mapper>
