<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.CommandExecMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.CommandExec">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="auto_exec" jdbcType="BIT" property="autoExec" />
    <result column="approved_by" jdbcType="VARCHAR" property="approvedBy" />
    <result column="cc_to" jdbcType="VARCHAR" property="ccTo" />
    <result column="completed" jdbcType="BIT" property="completed" />
    <result column="completed_at" jdbcType="TIMESTAMP" property="completedAt" />
    <result column="success" jdbcType="BIT" property="success" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="apply_remark" jdbcType="LONGVARCHAR" property="applyRemark" />
    <result column="command" jdbcType="LONGVARCHAR" property="command" />
    <result column="exec_target_content" jdbcType="LONGVARCHAR" property="execTargetContent" />
    <result column="out_msg" jdbcType="LONGVARCHAR" property="outMsg" />
    <result column="error_msg" jdbcType="LONGVARCHAR" property="errorMsg" />
  </resultMap>

  <select id="queryPageByParam"
          parameterType="com.baiyi.cratos.domain.param.http.command.CommandExecParam$CommandExecPageQuery"
          resultMap="BaseResultMap">
      select * from command_exec
      <where>
          <if test="namespace != null and namespace != ''">
              namespace = #{namespace}
          </if>
          <if test="completed != null">
              and completed = #{completed}
          </if>
          <if test="applyUsername != null and applyUsername != ''">
              and username = #{applyUsername}
          </if>
          <if test="approvedBy != null and approvedBy != ''">
              and approved_by = #{approvedBy}
          </if>
          <if test="success != null">
              and success = #{success}
          </if>
      </where>
      order by id desc;
  </select>

</mapper>