<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.DatacenterNetworkMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.DatacenterNetwork">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="account_entity_id" jdbcType="INTEGER" property="accountEntityId" />
    <result column="datacenter_type" jdbcType="VARCHAR" property="datacenterType" />
    <result column="eds_instance_id" jdbcType="INTEGER" property="edsInstanceId" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>