<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.NotificationTemplateMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.NotificationTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="notification_template_key" jdbcType="VARCHAR" property="notificationTemplateKey" />
    <result column="notification_template_type" jdbcType="VARCHAR" property="notificationTemplateType" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="consumer" jdbcType="VARCHAR" property="consumer" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>

  <select id="queryPageByParam"
          parameterType="com.baiyi.cratos.domain.param.http.template.NotificationTemplateParam$NotificationTemplatePageQuery"
          resultMap="BaseResultMap">
      select * from notification_template
      <where>
          <if test="queryName != null and queryName != ''">
              name like "%" #{queryName} "%"
          </if>
      </where>
  </select>

</mapper>