<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.QrtzCronTriggersMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.QrtzCronTriggers">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SCHED_NAME" jdbcType="VARCHAR" property="schedName" />
    <id column="TRIGGER_NAME" jdbcType="VARCHAR" property="triggerName" />
    <id column="TRIGGER_GROUP" jdbcType="VARCHAR" property="triggerGroup" />
    <result column="CRON_EXPRESSION" jdbcType="VARCHAR" property="cronExpression" />
    <result column="TIME_ZONE_ID" jdbcType="VARCHAR" property="timeZoneId" />
  </resultMap>
</mapper>