<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.RbacRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.RbacRoleMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="queryUserMenuIds" parameterType="com.baiyi.cratos.domain.param.rbac.RbacRoleParam$RolePageQuery"
          resultType="java.lang.Integer">
      select distinct menu_id
      from rbac_role_menu
      where role_id in (select role_id from rbac_user_role where username = #{username})
  </select>

</mapper>