<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.RbacResourceMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.RbacResource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="ui_point" jdbcType="BIT" property="uiPoint" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>