<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.RbacGroupMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.RbacGroup">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="base" jdbcType="VARCHAR" property="base"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="queryPageByParam" parameterType="com.baiyi.cratos.domain.param.http.rbac.RbacGroupParam$GroupPageQuery"
            resultMap="BaseResultMap">
        select * from rbac_group
        <where>
            <if test="queryName != null and queryName != ''">
                group_name like "%" #{queryName} "%"
                or base like "%" #{queryName} "%"
            </if>
        </where>
    </select>

</mapper>