<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.RbacResourceMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.RbacResource">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="resource_name" jdbcType="VARCHAR" property="resourceName"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="valid" jdbcType="BIT" property="valid"/>
        <result column="ui_point" jdbcType="BIT" property="uiPoint"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="queryPageByParam" parameterType="com.baiyi.cratos.domain.param.http.rbac.RbacResourceParam$ResourcePageQuery"
            resultMap="BaseResultMap">
        select * from rbac_resource
        <where>
            <if test="groupId != null">
                group_id = #{groupId}
            </if>
            <if test="valid != null">
                and valid = #{valid}
            </if>
            <if test="queryName != null and queryName != ''">
                and resource_name like "%" #{queryName} "%"
            </if>
        </where>
    </select>

    <select id="queryResourceInRoleByParam"
            parameterType="com.baiyi.cratos.domain.param.http.rbac.RbacRoleResourceParam$RoleResourcePageQuery"
            resultMap="BaseResultMap">
        select a1.*
        from rbac_role_resource a0
        join rbac_resource a1 on a0.resource_id = a1.id
        <where>
            a0.role_id = #{roleId}
            <if test="groupId != null">
                and a1.group_id = #{groupId}
            </if>
        </where>
    </select>

    <!--  查询角色未绑定资源-->
    <select id="queryResourceNotInRoleByParam"
            parameterType="com.baiyi.cratos.domain.param.http.rbac.RbacRoleResourceParam$RoleResourcePageQuery"
            resultMap="BaseResultMap">
        select * from rbac_resource
        <where>
            id not in
            ( select resource_id FROM rbac_role_resource WHERE role_id = #{roleId} GROUP BY resource_id )
            and valid = 1
            <if test="groupId != null">
                and group_id = #{groupId}
            </if>
        </where>
    </select>

    <select id="countResourcesAuthorizedByUsername" parameterType="string" resultType="int">
        select count(*)
        from rbac_user_role a0
            join rbac_role_resource a1 on a0.role_id = a1.role_id and a0.username = #{username}
            join rbac_resource a2 on a1.resource_id = a2.id and a2.resource_name = #{resource}
    </select>

</mapper>