<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.RiskEventMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.RiskEvent">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="event_time" jdbcType="TIMESTAMP" property="eventTime"/>
        <result column="states" jdbcType="VARCHAR" property="states"/>
        <result column="year" jdbcType="VARCHAR" property="year"/>
        <result column="quarter" jdbcType="VARCHAR" property="quarter"/>
        <result column="weeks" jdbcType="INTEGER" property="weeks"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
        <result column="valid" jdbcType="BIT" property="valid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <resultMap id="SimpleDataMap" type="com.baiyi.cratos.domain.view.base.GraphVO$SimpleData">
        <result column="c_name" jdbcType="VARCHAR" property="cName"/>
        <result column="value" jdbcType="INTEGER" property="value"/>
    </resultMap>

    <select id="queryPageByParam"
            parameterType="com.baiyi.cratos.domain.param.risk.RiskEventParam$RiskEventPageQuery"
            resultMap="BaseResultMap">
        select * from risk_event
        <where>
            <if test="year != null and year != ''">
                'year' = #{year}
            </if>
            <if test="quarter != null and quarter != ''">
                and quarter = #{quarter}
            </if>
            <if test="weeks != null and weeks > 0">
                and weeks = #{weeks}
            </if>
            <if test="states != null and states != ''">
                and states = #{states}
            </if>
            <if test="valid != null">
                and valid = #{valid}
            </if>
            <if test="queryName != null and queryName != ''">
                and name like "%" #{queryName} "%"
            </if>
        </where>
        order by event_time desc
    </select>

    <select id="queryYears" resultType="java.lang.String">
        select distinct(`year`)
        from risk_event
    </select>

    <select id="queryMonths"
            parameterType="com.baiyi.cratos.domain.param.risk.RiskEventParam$RiskEventPageQuery"
            resultMap="SimpleDataMap">
        select date_format(event_time, '%Y-%m') as `c_name` from risk_event
        where valid = true
        <if test="year != null and year != ''">
            and 'year' = #{year}
        </if>
        <if test="quarter != null and quarter != ''">
            and quarter = #{quarter}
        </if>
        group by `c_name`
        order by `c_name`;
    </select>

    <select id="querySLADataForTheMonth" resultMap="SimpleDataMap">
        select date_format(event_time, '%Y-%m') as `c_name`, sum(a1.cost) as `value`
        from risk_event a0 join risk_event_impact a1 on a0.id = a1.risk_event_id
        where a1.sla = true and a1.valid = true
        <if test="year != null and year != ''">
            and a0.year = #{year}
        </if>
        <if test="quarter != null and quarter != ''">
            and a0.quarter = #{quarter}
        </if>
        <if test="impactIdList != null and impactIdList.size() > 0">
            and a1.id in
            <foreach open="(" item="impactId" separator="," close=")" collection="impactIdList">
                #{impactId}
            </foreach>
        </if>
        group by `c_name`
        order by `c_name`
    </select>

</mapper>