<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.TrafficRecordTargetMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.TrafficRecordTarget">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="traffic_route_id" jdbcType="INTEGER" property="trafficRouteId" />
    <result column="record_type" jdbcType="VARCHAR" property="recordType" />
    <result column="resource_record" jdbcType="VARCHAR" property="resourceRecord" />
    <result column="record_value" jdbcType="VARCHAR" property="recordValue" />
    <result column="target_type" jdbcType="VARCHAR" property="targetType" />
    <result column="origin" jdbcType="BIT" property="origin" />
    <result column=" original_value" jdbcType="VARCHAR" property="originalValue" />
    <result column="ttl" jdbcType="BIGINT" property="ttl" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>
</mapper>