<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="otp" jdbcType="INTEGER" property="otp" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="password" jdbcType="LONGVARCHAR" property="password" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>

  <select id="queryPageByParam" parameterType="com.baiyi.cratos.domain.param.user.UserParam$UserPageQuery"
          resultMap="BaseResultMap">
    select * from user
    <where>
      <if test="queryName != null and queryName != ''">
        and ( name like "%" #{queryName} "%" or display_name like "%" #{queryName} "%" )
        order by replace(title, #{queryName}, '')
      </if>
    </where>
  </select>

</mapper>