<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.UserPermissionMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.UserPermission">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="display_name" jdbcType="VARCHAR" property="displayName"/>
        <result column="business_type" jdbcType="VARCHAR" property="businessType"/>
        <result column="business_id" jdbcType="INTEGER" property="businessId"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="valid" jdbcType="BIT" property="valid"/>
        <result column="seq" jdbcType="INTEGER" property="seq"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="expired_time" jdbcType="TIMESTAMP" property="expiredTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <select id="queryPageByParam" parameterType="com.baiyi.cratos.domain.param.http.user.UserPermissionParam$UserPermissionPageQuery"
            resultMap="BaseResultMap">
        select * from user_permission
        <choose>
            <when test="username != null and username != ''">
                username = #{username}
            </when>
            <when test="businessType != null and businessType != ''">
                and business_type = #{businessType}
            </when>
            <when test="queryName != null and queryName != ''">
                and name like "%" #{queryName} "%"
                order by replace( name, #{queryName}, '' ) , create_time
            </when>
            <otherwise>
                order by create_time
            </otherwise>
        </choose>
    </select>

</mapper>