<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.cratos.mapper.WorkOrderTicketMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.cratos.domain.generator.WorkOrderTicket">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ticket_no" jdbcType="VARCHAR" property="ticketNo"/>
        <result column="work_order_id" jdbcType="INTEGER" property="workOrderId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="node_id" jdbcType="INTEGER" property="nodeId"/>
        <result column="ticket_state" jdbcType="VARCHAR" property="ticketState"/>
        <result column="ticket_result" jdbcType="VARCHAR" property="ticketResult"/>
        <result column="success" jdbcType="BIT" property="success"/>
        <result column="submitted_at" jdbcType="TIMESTAMP" property="submittedAt"/>
        <result column="completed" jdbcType="BIT" property="completed"/>
        <result column="completed_at" jdbcType="TIMESTAMP" property="completedAt"/>
        <result column="auto_processing" jdbcType="BIT" property="autoProcessing"/>
        <result column="process_at" jdbcType="TIMESTAMP" property="processAt"/>
        <result column="valid" jdbcType="BIT" property="valid"/>
        <result column="workflow" jdbcType="LONGVARCHAR" property="workflow"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="apply_remark" jdbcType="LONGVARCHAR" property="applyRemark"/>
    </resultMap>

    <!--
    report-->
    <resultMap id="ReportDateMap" type="com.baiyi.cratos.domain.Report$BaseData">
        <result column="c_name" jdbcType="VARCHAR" property="cName"/>
        <result column="value" jdbcType="INTEGER" property="value"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
    </resultMap>

    <select id="queryMyTicketPageByParam"
            parameterType="com.baiyi.cratos.domain.param.http.work.WorkOrderTicketParam$MyTicketPageQuery"
            resultMap="BaseResultMap">
        select * from work_order_ticket
        where valid = true
        <if test="ticketState != null and ticketState != ''">
            and ticket_state = #{ticketState}
        </if>
        <if test="ticketNo != null and ticketNo != ''">
            and ticket_no = #{ticketNo}
        </if>
        <if test="workOrderKey != null and workOrderKey != ''">
            and work_order_id in ( select id from work_order where work_order_key = #{workOrderKey} )
        </if>
        <choose>
            <when test="mySubmitted != null and mySubmitted">
                and username = #{username}
            </when>
            <otherwise>
                and id in ( select ticket_id from work_order_ticket_subscriber where username = #{username}
                and valid = true )
            </otherwise>
        </choose>
        order by id desc
    </select>

    <select id="queryPageByParam"
            parameterType="com.baiyi.cratos.domain.param.http.work.WorkOrderTicketParam$TicketPageQuery"
            resultMap="BaseResultMap">
        select * from work_order_ticket
        <where>
            <if test="ticketState != null and ticketState != ''">
                ticket_state = #{ticketState}
            </if>
            <if test="ticketNo != null and ticketNo != ''">
                and ticket_no = #{ticketNo}
            </if>
            <if test="workOrderKey != null and workOrderKey != ''">
                and work_order_id in ( select id from work_order where work_order_key = #{workOrderKey} )
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="version != null and version != ''">
                and version = #{version}
            </if>
        </where>
        order by id desc
    </select>

    <select id="statByMonth" resultMap="ReportDateMap">
        select date_format(a0.completed_at, '%Y-%m') as `c_name`
        <if test="workOrderId > 0">
            , sum(if(a0.work_order_id = #{workOrderId}, 1, 0)) as `value`
        </if>
        from work_order_ticket a0
        join work_order a1 on a1.id = a0.work_order_id
        where
        a0.completed = true and a0.success = true
        group by `c_name` order by `c_name`
    </select>

    <select id="statByName" resultMap="ReportDateMap">
        select a1.name as `c_name`, count(*) as `value`, a1.color
        from work_order_ticket a0
                 join work_order a1 on a1.id = a0.work_order_id
        where a0.completed = true
          and a0.success = true
        group by a0.work_order_id
        order by a0.work_order_id
    </select>

</mapper>